doctype 5

html(lang='en', ng-app='HangmanEngine', ng-keydown='getKeyInput($event)', ng-controller='HangmanEngineCtrl')
  head
    title Hangman Engine
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')

    link(href='//fonts.googleapis.com/css?family=Montserrat:400,700|Purple+Purse', rel='stylesheet', type='text/css')
    link(href='player.css', rel='stylesheet', type='text/css')

    script(src='materia.enginecore.js')
    script(src='materia.score.js')

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js', data-embed='false')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-animate.min.js', data-embed='false')
    script(src='assets/createjs.js')
    script(src='assets/lib/modernizr.js', data-embed='false')
    script(src='assets/lib/hammer.min.js', data-embed='false')
    script(src='assets/lib/angular-hammer.min.js', data-embed='false')
    script(src='draw.js')
    script(src='player.js')

  body(ng-cloak)
    div.browserwarning We recommend you upgrade your browser for a better experience
    #browserfailure
      p We're sorry
      p But this widget requires features that your browser does not support.
      p Please upgrade to a newer version to play Hangman.
    div.overlay(ng-hide='inGame', hammer-tap='toggleGame()')

      div.portal
        h1 Hangman
        p(ng-show='!gameDone') Press or type letters to guess words and phrases.
        p(ng-show='gameDone') Game completed!

        div.loader(ng-show='loading')
          center
            div.bar
            div Loading...

        div#start.start(ng-show='!loading && !gameDone') Start
        div.finished(ng-show='!loading && gameDone')
          span FINISH

    div.game
      canvas#stage(aria-hidden='true', height='620', width='800')
      div.anvil-container(class='stage-{{anvilStage}}')
        img.anvil(src='assets/img/anvil.png', aria-hidden='true')
      div.podium(aria-hidden='true')

      div.title
      div.question-num {{ curItem+1 }}
      div.total-questions

      div.answer(ng-class='{transition: inQues}')
        div.row(ng-repeat='word in answer.string')
          span.box(ng-repeat='letter in word', ng-class='{quirks: cssQuirks}')
            span.letter(
              ng-class='{spin: answer.guessed[$parent.$index][$index] != "", space: $index != 11 && !isLetter(answer.guessed[$parent.$index][$index])}'
            ) {{ answer.guessed[$parent.$index][$index] }}
          span.box(ng-show='answer.dashes[$index]')
            span.letter.dash -
      div.question(ng-class='{transition: inQues}', ng-show='inGame') {{ ques }}
        div.tail

      div.attempts(ng-show='inQues')
        span.icon-close(
          ng-repeat='attempt in max',
          ng-class='{shown:attempt.fail}'
        )

      div.keyboard-bg(aria-hidden='true')
      div.keyboard(
        aria-hidden='true',
        ng-show='inQues',
        ng-init="keys=[['0','1','2','3','4','5','6','7','8','9'],['q','w','e','r','t','y','u','i','o','p'],['a','s','d','f','g','h','j','k','l'],['z','x','c','v','b','n','m']]"
      )
        center
          div.row(ng-repeat='row in keys')
            span.key(
              ng-repeat='key in keys[$index]',
              ng-class='{faded:keyboard[key].hit == 1}',
              hammer-tap='getUserInput(key)'
            ) {{ key }}
          div.descript PRESS OR TYPE

      div.next(ng-show='!inQues && inGame', hammer-tap='startQuestion()') Next
      script
        if (!document.getElementById('stage').getContext)
          document.getElementById('browserfailure').style.display = 'block'
