doctype 5

html(lang='en', ng-app='HangmanCreator')
	head
		title Hangman Creator
		meta(charset='utf-8')

		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400|Montserrat:700|Purple+Purse', rel='stylesheet', type='text/css')
		link(href='creator.css', rel='stylesheet', type='text/css')

		//- DEPLOYMENT
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-animate.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-sanitize.min.js')

		script(src='/js/materia.require.js', data-embed='false')
		script(src='assets/lib/modernizr.js', data-embed='false')
		script(src='assets/lib/hammer.min.js', data-embed='false')
		script(src='assets/lib/angular-hammer.min.js', data-embed='false')
		script(src='creator.js')

	body(ng-cloak, ng-controller='HangmanCreatorCtrl')
		div#modal
		.question-tip
			| ?
			.qtip-box
				p
					| If <b>partial scoring</b>
					| is on then students will
					| receive credit equal to the percentage of
					| the phrase they reveal. When off
					| students will receive a 100% if they guess the
					| phrase correctly and a 0% otherwise.
				p
					| If the student doesn't reveal the phrase
					| after the number of allowed <b>incorrect guesses</b>
					| they move on to the next phrase.
		#header
			.logo
			h1#title(ng-bind='title', ng-click='changeTitle()')
			.link(ng-click='changeTitle()') Edit...
			span.attempts
				p
					| Incorrect guesses per phrase
				div.slide-btn
					div.bar(class="pos-{{attempts}}")
						div.circle(ng-bind='attempts')
					div.container.thr(hammer-tap='setAttempts(3)')
						div.point.thr 3
					div.container.four(hammer-tap='setAttempts(4)')
						div.point.four 4
					div.container.five(hammer-tap='setAttempts(5)')
						div.point.five 5
					div.container.six(hammer-tap='setAttempts(6)')
						div.point.six 6
					div.container.svn(hammer-tap='setAttempts(7)')
						div.point.svn 7
			div.partial
				p Partial scoring
				input(type='checkbox', id='randomize', ng-model='partial')
				label(for='randomize', class='checktoggle')
			.bottom
		ul(aria-label='questions')
			li.titles(aria-hidden='true', ng-show='items.length')
				h3 Question
				h3 Phrase

			li.item(ng-repeat='item in items')
				span.num {{$index+1}}
				img(ng-class='{shown:item.foc || item.editing}', src='assets/img/head-bubble.png')
				span.hint(aria-label='hint')
					div.arrow-left(ng-class='{shown:item.foc || item.editing}')
					textarea(
						placeholder='Enter a hint here.',
						value='{{item.ques}}',
						ng-focus='item.foc=true',
						ng-blur='item.foc=false',
						ng-model='item.ques',
						tabindex='{{$index + 1}}'
					)
				span.word(aria-label='word')
					textarea(
						id='tarea_{{$index}}',
						value='{{item.ans}}',
						ng-model='item.ans',
						ng-change='updateForBoard(item)',
						ng-blur='item.editing=false',
						ng-focus='item.editing=true',
						ng-enter='item.editing=false',
						ng-class='{ show: item.editing }',
						tabindex='{{$index + 2}}'
					)
					div.answer(
						ng-class='{ toolong: item.answer.string.length > 3 }',
						ng-show='!item.editing',
						ng-mousedown='editItem(item, $index)'
					)
						.protip(ng-show='!item.answer.string') Click here to enter your phrase
						div.row(ng-repeat='word in item.answer.string')
							.lbox(ng-repeat='letter in word')
								.letter(ng-class='{ space: !isLetter(letter.letter) }') {{ letter.letter }}
							.lbox(ng-show='item.answer.dashes[$index]')
								.letter.space 

				button.delete(aria-label='delete', hammer-tap='removeItem($index)')
					span.icon-close
					span.descript remove

			li
				button.add(aria-label='add item', hammer-tap='addItem()')
					span.icon-plus
					span &nbsp;Add Question

		.arrow-box(ng-show='!items.length && step')
			span Click here to add your first question

		#backgroundcover(ng-click='hideCover()')

		.box.intro
			img(src='assets/creator_example.png')
			h1 Hangman
			p.
				Create quiz show questions and answers
			p.
				Define how many incorrect guesses students get per phrase
			p.
				Enable partial credit to give students credit for guessing some of the characters correctly
			hr.
			b.
				Start by giving your Hangman widget a title
			form(ng-submit='introComplete()')
				input(type='text', placeholder='My Hangman widget', autofocus='1')
				input(type='button', value='Get Started')

		.box.title
			b.
				Give your Hangman widget a title
			input(type='text', placeholder='My Hangman widget', ng-model='title')
			input(type='button', value='Done')

